/chapter02/BASELINE_REINFORCE/policy_model.pth
/chapter02/原始策略梯度法/policy_model.pth
/chapter03/actor_model.pth
/chapter03/critic_model.pth
/chapter06/sst2/
/chapter06/reward_model.pt
/chapter06/gpt2-ppo.pt
/chapter07/ultrachat_200k/
/chapter07/ultrafeedback_binarized
/chapter11/grpo_zero/Countdown-Tasks-3to4/
/chapter11/grpo_zero/logs/
/chapter11/grpo_zero/ckpt/
/chapter11/grpo_zero/__pycache__/
/chapter11/grpo_medical/gsm8k/
/chapter11/grpo_medical/Health_Benchmarks/
/chapter11/grpo_medical/PubMedQA/
