/chapter02/BASELINE_REINFORCE/policy_model.pth
/chapter02/原始策略梯度法/policy_model.pth
/chapter03/actor_model.pth
/chapter03/critic_model.pth
/chapter06/sst2/
/chapter06/reward_model.pt
/chapter06/gpt2-ppo.pt
/chapter07/ultrachat_200k/
/chapter07/ultrafeedback_binarized
